<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Camping World - Inentory Feed</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    </head>
    <body class="container">
        <h1>Download Inentory Data:</h1>
        <div class="row">
            <div class="col-md-6">
                <form action="/" method="post">
                    {{ form_widget(form) }}
                    <button type="submit" class="btn btn-primary">Start Inventory Feed</button>
                </form>
            </div>
        </div>
    </body>
</html>
